<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Professor Rating</title>
    
    <link rel="stylesheet" href="/Rating_Page.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script defer type = "text/javascript" src = /Rating_Page.js ></script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><a href="./mainpage.html" >Home</a></li>
            <li><a href="./login.html" >Login / Sign Up</a></li>
            <li><a href="./registration.html">Registration</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div>
      <br>


      <h1>Course Connect</h1>
      <h1 id="TuName">Towson University</h1>
    </div>
    <div>
      <!-- id ClassName is the id of the Course Name-->
      <h2 id="ClassName">Course Name: COSC </h2>
      <!--id PrefProf is the id of the Preffered Professor-->
      <h3 id="PrefProf">Ranked Professors</h3>
    </div>
    

    <h2><u>Add your Review</u></h2>
    <!--ADD REVIEW FORM START-->
    <form id="AddReview" method="post" action = "/" value = onSumbit>
      <table>
      <div class="form-group">
        <tr>
          <td><label for="RevHeader">One word Rating</label></td>
          <td><select id="RevHeader" name = 'OneWordRev' required>
            <option value="Great" style="background-color: green;">Great</option>
            <option value = "Good" style="background-color: lightgreen;">Good</option>
            <option value="Neutral" style="background-color: gray;">Neutral</option>
            <option value = "Bad" style="background-color: orange;">Bad</option>
            <option value = "Terrible" style="background-color: red;">Terrible</option>
          </select></td>
        </tr>
        <tr>
        <td><label for="Grade">Earned Grade</label></td>
        <td ><select id="Grade" name = 'LetterGrade' required>
          <option value="A" style="background-color: green;">A</option>
          <option value="B" style="background-color: lightgreen;">B</option>
          <option value="C" style="background-color: gray;">C</option>
          <option value="D" style="background-color: orange;">D</option>
          <option value="F" style="background-color: red;">F</option>
        </select></td>
        </tr>
        <tr>
        <td><label for = "NumRating">Class Rating(1-10)</label></td>
        <td><input type="number" id = "NumRating" name = "NumRating" min = 1 max = 10 required></td>
        </tr>
        <tr>
          <td><label for="ProfessorTaken">Choose professor Taken</label></td>
          <td><select name="ProfTaken" id="CurrentProfs" required>
            <option>Jal Irani</option>
            <option>Randy Valis</option>
            <option>Josh Dellinger</option>
            <option>John Auten </option>
          </select>
        </tr>
        
        <tr>
          <td><Label for = "ProfRating">Professor Rating(1-10)</Label></td>
          <td><input type="number" id="ProfRating" name = ProfRating min="1" max="10" required></td>
        </tr>
      </table>
      <span><b>Write Your Review:</b></span><br/>
      <textarea id="Summary" name = "Summary" cols="50" rows="10"></textarea><br/>
      
      <button
       type="submit" id = SubmitReview> Submit Review</button>
      </div>
    </form>
    <!--ADD REVIEW FORM END -->
    

    <!-- Reviews Start-->
    <h2 id="Reviews"><u>Reviews</u></h2>
    <%reviewList.forEach(review =>{%>
        <div class="card">
            <div class="profile-sidebar">
              <img src="/towson.png" alt="" id="tuImage" />
            </div>
      
            <div class="Review-main">
              <h2 id="OWRating"><%=review.oneWord%></h2>
              <p id="ErGrade"><%=review.grade%></p>
              <p id="RateNum"><%=review.crating%></p>
              <p id="ProfTaken"><%=review.professor%></p>
              <p id="ProfNum"><%=review.prating%></p>
              <p id="WrittemRev"><%=review.summary%></p>
            </div>
          </div>
    <%})%>
  </body>
</html>